*/.ipynb_checkpoints/*
*.png
*.tif
*.zip
*.csv
*.npy
*.jpg
*.m
*.mat
*.md
*.pick
*.txt
*.json
*.mp4
*.gif
data/series
data/snapshots/*
data/transport/*
data/Figures_Paper/movies/*
data/Figures_Paper/Figure/*
data/20210823_1328_Plate39/*
data/20210823_1128_Plate39/*
*.tiff
tests/__pycache__/
tests/.idea/